In [47]:
#importing the required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [50]:
#reading the dataset
df = pd.read_csv('C:/Users/user/Downloads/dataframe_.csv')

In [3]:
type(df)

pandas.core.frame.DataFrame

In [4]:
#viewing the first five rows using head
df.head()

        input      output
0 -122.740667 -130.572085
1 -121.531419 -129.938929
2 -134.917019 -130.141832
3 -120.605951 -125.760932
4 -129.894781 -112.785214

In [6]:
#checking null values
df.isnull().sum()

input     1
output    1
dtype: int64

In [7]:
#drop the null values
df = df.dropna(how="any")

In [8]:
df.head()

        input      output
0 -122.740667 -130.572085
1 -121.531419 -129.938929
2 -134.917019 -130.141832
3 -120.605951 -125.760932
4 -129.894781 -112.785214

In [9]:
df.dtypes

input     float64
output    float64
dtype: object

In [10]:
#checking duplicates
print(df.duplicated())

0       False
1       False
2       False
3       False
4       False
        ...
1692     True
1693     True
1694     True
1695     True
1696     True
Length: 1696, dtype: bool

In [11]:
#removing duplicates
df.drop_duplicates(inplace=True)

In [12]:
print(df.duplicated())

0       False
1       False
2       False
3       False
4       False
        ...
1105    False
1107    False
1108    False
1109    False
1110    False
Length: 1090, dtype: bool

In [13]:
#summary statistics
df.describe()

             input       output
count  1090.000000  1090.000000
mean      8.116185   -27.383628
std      78.769201    68.371895
min    -134.962839  -132.422167
25%     -51.041357   -76.994298
50%      17.462087   -46.300938
75%      76.481078     5.113101
max     134.605775   134.425495

In [14]:
X = df['input']

In [15]:
X.head()

0   -122.740667
1   -121.531419
2   -134.917019
3   -120.605951
4   -129.894781
Name: input, dtype: float64

In [16]:
y = df.output

In [17]:
y.head()

0   -130.572085
1   -129.938929
2   -130.141832
3   -125.760932
4   -112.785214
Name: output, dtype: float64

In [18]:
from sklearn.tree import DecisionTreeRegressor

In [19]:
df = DecisionTreeRegressor(random_state=1)

In [26]:
X1 = X.values.reshape(-1, 1)

In [30]:
from sklearn.model_selection import train_test_split
X1_train, X1_test, y_train, y_test = train_test_split(X1,y,test_size=0.25,random_state=0)

In [33]:
#feature scaling
from sklearn.preprocessing import StandardScaler
sc_X1 = StandardScaler()
X1_train = sc_X1.fit_transform(X1_train)
X1_test = sc_X1.transform(X1_test)

In [39]:
#fit the model
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor()
regressor = regressor.fit(X1_train, y_train)

In [45]:
#prediction
y_pred = regressor.predict(X1_test)
print(y_pred)

[123.6196799  -81.54003728 -81.54003728 123.6196799  123.6196799
 -81.54003728 -81.54003728 -81.54003728 123.6196799  123.6196799
 -81.54003728 123.6196799  123.6196799  123.6196799  -81.54003728
 -81.54003728 -81.54003728 123.6196799  123.6196799  -81.54003728
 123.6196799  -18.31251762 123.6196799  123.6196799  123.6196799
 123.6196799  -81.54003728 -81.54003728 123.6196799  123.6196799
 -81.54003728 -81.54003728 123.6196799  -81.54003728 123.6196799
 123.6196799  -81.54003728 123.6196799  123.6196799  123.6196799
 123.6196799  123.6196799  -81.54003728 -81.54003728 123.6196799
 -81.54003728 -81.54003728 -81.54003728 123.6196799  -81.54003728
 123.6196799  123.6196799  123.6196799  123.6196799  123.6196799
 123.6196799  -81.54003728 -81.54003728 -81.54003728 123.6196799
 123.6196799  -81.54003728 -81.54003728 123.6196799  -81.54003728
 123.6196799  123.6196799  123.6196799  123.6196799  123.6196799
 -81.54003728 123.6196799  123.6196799  123.6196799  -40.5520681
 -81.54003728 -81.54003728 -81.54003728 -81.54003728 123.6196799
 123.6196799  123.6196799  -81.54003728 123.6196799  -81.54003728
 -78.         123.6196799  -81.54003728 -81.54003728 123.6196799
 123.6196799  -81.54003728 123.6196799  123.6196799  123.6196799
 123.6196799  123.6196799  123.6196799  123.6196799  -81.54003728
 -81.54003728 123.6196799  -81.54003728 123.6196799  123.6196799
 123.6196799  -81.54003728 123.6196799  -81.54003728 123.6196799
 -81.54003728 123.6196799  -81.54003728 123.6196799  123.6196799
 123.6196799  123.6196799  123.6196799  123.6196799  123.6196799
 123.6196799  123.6196799  -51.17616754 -81.54003728 123.6196799
 -81.54003728 123.6196799  -81.54003728 123.6196799  123.6196799
 123.6196799  123.6196799  123.6196799  -81.54003728 123.6196799
 -81.54003728 123.6196799  123.6196799  -81.54003728 123.6196799
 -81.54003728 123.6196799  -81.54003728 -81.54003728 -81.54003728
 123.6196799  123.6196799  123.6196799  123.6196799  123.6196799
 -81.54003728 123.6196799  123.6196799  123.6196799  123.6196799
 -81.54003728 123.6196799  -81.54003728 123.6196799  123.6196799
 123.6196799  123.6196799  -81.54003728 123.6196799  123.6196799
 -81.54003728 123.6196799  123.6196799  -81.54003728 -81.54003728
 123.6196799  123.6196799  -81.54003728 123.6196799  -81.54003728
 -81.54003728 -81.54003728 -81.54003728 123.6196799  123.6196799
 -81.54003728 -81.54003728 123.6196799  -81.54003728 123.6196799
 123.6196799  123.6196799  123.6196799  123.6196799  123.6196799
 -81.54003728 -81.54003728 123.6196799  123.6196799  123.6196799
 123.6196799  123.6196799  -81.54003728 123.6196799  123.6196799
 123.6196799  -81.54003728 -81.54003728 123.6196799  -81.54003728
 -81.54003728 123.6196799  123.6196799  -81.54003728 -81.54003728
 -81.54003728 123.6196799  123.6196799  123.6196799  -81.54003728
 123.6196799  123.6196799  123.6196799  123.6196799  -81.54003728
 -51.17616754 -81.54003728 123.6196799  123.6196799  123.6196799
 -81.54003728 -81.54003728 123.6196799  -81.54003728 -81.54003728
 -22.93029483 123.6196799  123.6196799  -81.54003728 -81.54003728
 -81.54003728 123.6196799  123.6196799  -81.54003728 123.6196799
 -81.54003728 123.6196799  -81.54003728 -81.54003728 -81.54003728
 123.6196799  123.6196799  -81.54003728 -81.54003728 -81.54003728
 -81.54003728 123.6196799  -81.54003728 123.6196799  123.6196799
 123.6196799  -81.54003728 -81.54003728 123.6196799  -81.54003728
 123.6196799  123.6196799  123.6196799  -81.54003728 -81.54003728
 123.6196799  -32.         123.6196799  -81.54003728 -81.54003728
 -81.54003728 -81.54003728 123.6196799 ]

In [55]:
outliers=[]
def detect_outliers(data):
    
    threshold=3
    mean = np.mean(data)
    std = np.std(data)
    
    for i in data:
        z_score = (i-mean)/std
        if np.abs(z_score) > threshold:
            outliers.append(y)
    return outliers

In [62]:
outlier_pt=detect_outliers(X1)

In [63]:
outlier_pt

[]

In [64]:
DecisionTreeRegressor(criterion='entropy',max_depth=3,random_state=0)

DecisionTreeRegressor(criterion='entropy', max_depth=3, random_state=0)

In [70]:
from sklearn.metrics import mean_squared_error
import math
MSE = mean_squared_error(X1, y)
RMSE = math.sqrt(MSE)
print("Root Mean Square Error:\n")
print(RMSE)

Root Mean Square Error:

81.85831681907497

In [76]:
#feature scaling
from sklearn.preprocessing import StandardScaler
sc_X1 = StandardScaler()
X1_train = sc_X1.fit_transform(X1_train)
X1_test = sc_X1.transform(X1_test)

In [77]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X1_train, y_train)
y_hat_train = lr.predict(X1_train)
lr.coef_

array([33.09199305])

In [78]:
from sklearn.metrics import r2_score, mean_squared_error
print(f"r^2: {r2_score(y_train, y_hat_train)}")
print(f"rmse: {np.sqrt(mean_squared_error(y_train, y_hat_train))}")

r^2: 0.24272895002499317
rmse: 58.45044379413215